<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Gerenciamento pets e cuidadores
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">pets e cuidadores</ion-title>

<ion-input label="Nome" placeholder="coloque o nome aqui"></ion-input>
<ion-input label="Especie" placeholder="coloque a especie aqui"></ion-input>
<ion-input label="Raça" placeholder="coloque a raça aqui"></ion-input>
<ion-input label="Idade" placeholder="coloque a idade aqui"></ion-input>
<ion-input label="Observações adicionais" placeholder="..."></ion-input>

    </ion-toolbar>
  </ion-header>
<div>
</div>
</ion-content>
